@wrap-width: 1338px;
@htmlFontSize: 16;

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* Colors */
@colorGreen: #60b06a;
@colorGreenDark: #00984b;
@colorGreenLight: #98c25a;

/* Blocks */
.inline-block() {
	display: inline-block;
}

/* Text transforms */
.uppercase {
	text-transform: uppercase;
}
.overflow-h {
    overflow: hidden;
}

/* Transition */
.transition(@elem: all, @eff: ease, @time: .25s) {
	-webkit-transition: @elem @eff @time;
	-moz-transition: @elem @eff @time;
	transition: @elem @eff @time;
}